.logout{
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px;
  border:1px  solid black;
}

.upload button{
  margin: 10px;
  /* padding: 14px 6px; */
  width: 117px;
  height: 47px;
  background-color: white;
  color: rgba(0, 0, 0, 0.54);
  border: 1px solid black;
  cursor: pointer;
}

.center{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.tcenter{
  margin: 20px auto;
}

.tcenter tr{
  cursor: pointer;
}

.text_center{
  text-align: center;
}